.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } 
.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #4B4B4B; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.datagrid table td, 
.datagrid table th { padding: 3px 10px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dcaa2b), color-stop(1, #dcaa2b) );
	background:-moz-linear-gradient( center top, #dcaa2b 5%, #dcaa2b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4B4B4B', endColorstr='#4B4B4B');
	background-color:#4B4B4B; 
	color:#FFFFFF; 
	font-size: 14px; 
	font-weight: bold; 
	border-left: 1px solid #dcaa2b; } datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #4B4B4B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: bold; }
.datagrid table tbody .alt td { background: #fcf7de; color: #4B4B4B; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td div { border-top: 1px solid #4B4B4B;background: #E1EEf4;} 
.datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }
.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #4B4B4B;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4B4B4B), color-stop(1, #4B4B4B) );background:-moz-linear-gradient( center top, #4B4B4B 5%, #4B4B4B 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4B4B4B', endColorstr='#4B4B4B');background-color:#4B4B4B; }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #4B4B4B; color: #FFFFFF; background: none; background-color:#4B4B4B;}